* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

::selection {
  background-color: #55c57a;
  color: #fff; }

html {
  font-size: 75%; }

body {
  width: 100vw;
  min-height: 100vh;
  padding: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  overflow-x: hidden; }

h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-container {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header__logo {
    height: 35px; }
  .header__content-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px; }
  .header__heading {
    text-transform: uppercase;
    color: #fff; }
  .header__heading--main {
    display: block;
    font-size: 72px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: fade-in-left;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .header__heading--sub {
    display: block;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation-name: fade-in-right;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .header__button {
    background-color: #fff;
    outline: none;
    border: none;
    color: #777;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 10rem;
    position: relative;
    animation: fade-up 0.65s ease-out;
    animation-delay: 0.1s;
    animation-fill-mode: backwards; }
  .header__button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .header__button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .about__content-container {
    display: flex;
    margin-top: 8rem; }
  .about__content {
    display: flex;
    flex-direction: column;
    flex: 0 0 45%; }
    .about__content h3 {
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 1.5rem; }
    .about__content p {
      font-size: 1.6rem;
      margin-bottom: 3rem; }
  .about__images {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 5rem; }
  .about__image {
    width: 45%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: 0.2s; }
    .about__images:hover .about__image:not(:hover) {
      transform: scale(0.95); }
    .about__image:hover {
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 2;
      outline: 1.5rem solid #55c57a;
      outline-offset: 2rem;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
    .about__image-1 {
      left: 3rem;
      top: -2rem; }
    .about__image-2 {
      right: 5rem;
      top: 2rem; }
    .about__image-3 {
      left: 20%;
      top: 10rem; }

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20rem 15rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  clip-path: polygon(0 15vh, 100% 0, 100% 75vh, 0 100%);
  margin-top: -11rem; }
  .feature__card {
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
    font-size: 1.5rem;
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.3s; }
    .feature__card:hover {
      transform: translateY(-3px) scale(1.03);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .feature__card h3 {
      text-transform: uppercase; }
    .feature__card p {
      margin-top: 1rem; }
    .feature__card i {
      font-size: 6rem;
      margin-bottom: 0.5rem;
      background-image: linear-gradient(to right, #7ed56f, #28b485);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; }

.tour {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -11rem; }
  .tour__card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    width: 100%;
    margin-top: 8rem; }
  .tour__card {
    width: 22%;
    perspective: 150rem;
    position: relative;
    height: 52rem; }
    .tour__card .card__image {
      background-size: cover;
      background-blend-mode: screen;
      height: 23rem;
      width: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .tour__card .card__header {
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #fff;
      position: absolute;
      top: 12rem;
      right: 2rem;
      text-align: right;
      width: 75%; }
      .tour__card .card__header span {
        padding: 1rem 1.5rem;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone; }
    .tour__card .card__details {
      width: 80%;
      list-style: none; }
      .tour__card .card__details li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .tour__card .card__details li:not(:last-child) {
          border-bottom: 1px solid #eee; }
    .tour__card-1 .tour__card-side--front .card__image {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .tour__card-1 .tour__card-side--front .card__header span {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .tour__card-1 .tour__card-side--back {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .tour__card-2 .tour__card-side--front .card__image {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .tour__card-2 .tour__card-side--front .card__header span {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .tour__card-2 .tour__card-side--back {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
    .tour__card-3 .tour__card-side--front .card__image {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-6.jpg); }
    .tour__card-3 .tour__card-side--front .card__header span {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
    .tour__card-3 .tour__card-side--back {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
    .tour__card-side {
      height: 52rem;
      transition: 0.8s ease;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      backface-visibility: hidden;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .tour__card-side--front {
        display: flex;
        flex-direction: column;
        align-items: center; }
      .tour__card-side--back {
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 13rem 2rem; }
        .tour__card-side--back span:nth-child(1) {
          text-transform: uppercase;
          color: #fff;
          font-size: 1.4rem; }
        .tour__card-side--back .tour__price {
          color: #fff;
          font-size: 6rem;
          font-weight: 100;
          margin-bottom: 10rem; }
    .tour__card:hover .tour__card-side--front {
      transform: rotateY(-180deg); }
    .tour__card:hover .tour__card-side--back {
      transform: rotateY(0deg); }
  .tour__discover-btn {
    background-color: #55c57a !important;
    color: #fff !important;
    margin-top: 10rem; }

.stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15rem 0;
  font-size: 1.6rem;
  position: relative; }
  .stories .bg-video {
    position: absolute;
    opacity: 0.15;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%; }
    .stories .bg-video video {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .stories h2 {
    margin-bottom: 8rem; }
  .stories h3 {
    text-transform: uppercase; }
  .stories__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    margin-bottom: 8rem; }
  .stories__story {
    width: 60%;
    display: flex;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 6rem;
    gap: 5rem;
    transform: skewX(-12deg);
    background-color: rgba(255, 255, 255, 0.6); }
    .stories__story:hover .stories__name {
      opacity: 1;
      transform: translateY(0); }
    .stories__story:hover .stories__div {
      opacity: 1; }
  .stories__content {
    transform: skewX(12deg); }
  .stories__img {
    width: 15rem;
    height: 15rem;
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    transform: skewX(12deg);
    display: flex;
    align-items: center;
    justify-content: center; }
    .stories__img div {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(3px);
      opacity: 0;
      transition: 0.5s; }
    .stories__img p {
      color: #fff;
      font-size: 1.7rem;
      transform: translateY(2.5rem);
      opacity: 0;
      transition: 0.5s all;
      text-transform: uppercase;
      text-align: center; }
      .stories__img p span {
        display: block; }
    .stories__img--1 {
      background-image: url(../img/nat-8.jpg); }
    .stories__img--2 {
      background-image: url(../img/nat-9.jpg); }
  .stories__header {
    margin-bottom: 1rem; }

.book {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  .book h2 {
    margin-bottom: 5rem; }
  .book__content {
    width: 75%;
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
    background-size: cover;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px; }
  .book__form {
    width: 50%;
    padding: 6rem; }

.form {
  font-family: inherit; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    transition: 0.15s all;
    border-bottom: 3px solid transparent;
    display: block;
    width: 90%;
    color: inherit; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #55c57a; }
      .form__input:focus:invalid {
        border-bottom: 3px solid #ff7730; }
    .form__input::placeholder {
      color: #999; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: 0.3s all; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__radio-group {
    display: inline-block;
    width: 49%; }
  .form__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem; }
  .form__radio-button {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    border-radius: 50%;
    border: 5px solid #55c57a;
    position: absolute;
    left: 0;
    top: -0.4rem;
    transition: 0.15s; }
    .form__radio-button::after {
      content: "";
      transition: 0.15s;
      height: 1.3rem;
      width: 1.3rem;
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #55c57a;
      opacity: 0; }
  .form__radio-input {
    display: none; }
  .form__radio-input:checked + .form__radio-label .form__radio-button::after {
    opacity: 1; }
  .form .form__button {
    background-color: #55c57a;
    color: #fff;
    font-size: 1.6rem;
    margin-top: 5rem; }

.btn--main {
  background-color: #fff;
  outline: none;
  border: none;
  color: #777;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 10rem;
  position: relative;
  animation: fade-up 0.65s ease-out;
  animation-delay: 0.1s;
  animation-fill-mode: backwards; }
  .btn--main:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn--main:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer__logo-box {
    margin-bottom: 8rem; }
    .footer__logo-box img {
      width: 150px; }
  .footer__content {
    display: flex;
    color: #fff;
    padding: 0 20rem;
    justify-content: space-between;
    font-size: 17px; }
  .footer__nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 20px;
    border-top: 1px solid #777;
    padding-top: 2rem; }
    .footer__nav li {
      transition: 0.15s;
      cursor: pointer; }
    .footer__nav li:hover {
      color: #55c57a;
      box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.1); }

.btn--inline {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #55c57a;
  padding: 3px;
  border-bottom: 1px solid #55c57a;
  font-size: 1.6rem;
  transition: 0.2s; }
  .btn--inline span {
    margin-left: 1px; }
  .btn--inline:hover {
    background-color: #55c57a;
    color: #fff;
    transform: translateY(-3px); }

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1; } }

@keyframes fade-up {
  0% {
    transform: translateY(30px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
